button, a, label{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    cursor: pointer;


}

button, label{
    background-color: black !important;
    color: $color-yellow !important;

        
    &:hover{
        background-color: white !important;
    }

        
    h2{
        color: $color-yellow !important;
    }
}

a{
    &:hover{
        background-color: black !important;

        h2{
            color: $color-yellow !important;
        }
    }
}

