//FONT BASTELEUR 
@font-face {
    font-family: 'Basteleur';
    src: 
        local('Basteleur')
        url('../resources/typography/basteleur/Basteleur-Bold.woff2') format('woff2'), /* Super Modern Browsers */
        url('../resources/typography/basteleur/Basteleur-Bold.woff') format('woff'), /* Pretty Modern Browsers */
        url('../resources/typography/basteleur/Basteleur-Bold.ttf')  format('truetype'); /* Safari, Android, iOS */

    font-weight: bold;
}

@font-face {
    font-family: 'Basteleur';
    src: 
        local('Basteleur')
        url('../resources/typography/basteleur/Basteleur-Moonlight.woff2') format('woff2'), /* Super Modern Browsers */
        url('../resources/typography/basteleur/Basteleur-Moonlight.woff') format('woff'), /* Pretty Modern Browsers */
        url('../resources/typography/basteleur/Basteleur-Moonlight.ttf')  format('truetype'); /* Safari, Android, iOS */

    font-weight: normal;
}

//FONT CHUNK @ https://www.theleagueofmoveabletype.com/chunk

@font-face {
    font-family: 'Chunk';
    src: 
        local('Chunk')
        url('../resources/typography/chunk/ChunkFive-Regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('../resources/typography/chunk/ChunkFive-Regular.woff') format('woff'), /* Pretty Modern Browsers */
        url('../resources/typography/chunk/ChunkFive-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */

    font-weight: normal;
}

//FONT SPACE GROTESK

@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

//FONT PAYTONE ONE

@import url("https://fonts.googleapis.com/css2?family=Paytone+One&display=swap");

