$color-dark_brown: #664500;
$color-yellow: #FFCC4D;
$color-light_yellow: #F1DA8F;
$color-grey: #6C746C;
$color-light_grey: #b8b8b8;
$color-white: #FCFCFB;

$border: solid 1px black;

body, *, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}

html{
    background-color: $color-white;
    overflow-x: hidden;
}

.hidden {
    display: none;
}

a{
    text-decoration: none
}

//ICONS

@import 'fonts';
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

body, p, input, textarea{
    font-family: 'IBM Plex Mono', monospace;;
}

h1,h2,h3,h4,button, label{
    font-family: 'Archivo Black', sans-serif;
}

@import 'styles/fontSize';

@import 'styles/button';
@import 'styles/scrollBar';

@import 'styles/page';
@import 'styles/cell';

@import 'styles/inputCell';

@import 'styles/banner';
@import 'styles/header';
@import 'styles/helpButton';
@import 'styles/codeButton';
@import 'styles/photos';
@import 'styles/stickers';
@import 'styles/generateButton';
