#evolutionPage{

    #evolutionCell{
        grid-column: 1 / 5;
        grid-row: 2 / 6;

        display: flex;
        flex-direction: column;

        justify-content: space-around;
        //align-items: center;

        h2{
            text-align: center;
        }

        span{
            text-align: left;
        }

    }

    #individualCell{
        grid-column: 5 / 9;
        grid-row: 2 / 6;

        display: grid;
        justify-content: space-around;
        align-items: center;

        grid-template-rows: 8fr 1fr 1fr;
    }

    #evolutionBar{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        .circle{
            border-radius: 50%;
            width: 16px;
            height: 16px;
        }

        .false{
            background-color: black;
        }

        .true{
            background-color: $color-yellow;
            width: 20px;
            height: 20px;
        }

    }

}